//---------------------------
// Global
//---------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: $dropbox-blue;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.nav-main {
  position: absolute;
  top: 0;
  left: 0;
}