//---------------------------
// Fonts
//---------------------------
$font-family:       'Open Sans', sans-serif;

//---------------------------
// Colors
//---------------------------
$dropbox-blue:      #007EE5;
$light-cool-grey:   #4C545A;
$lighter-cool-grey: #8899A7;

//---------------------------
// Module Colors
//---------------------------
$header-copy-color: white;
$bg-header-color:   $dropbox-blue;
$main-copy-color:   $lighter-cool-grey;
$footer-copy:       $light-cool-grey;
$footer-cta-color:  $lighter-cool-grey;
$buy-cta-color:     #B0CEE7;
$border-bottom-color: $lighter-cool-grey;

//---------------------------
// Breakpoints
//---------------------------
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1050px;
$screen-lg: 1200px;