//---------------------------
// Fonts
//---------------------------
$font-family:       'Open Sans', sans-serif;

//---------------------------
// Colors
//---------------------------
$dropbox-blue:      #007EE5;
$light-cool-grey:   #4C545A;
$lighter-cool-grey: #8899A7;

//---------------------------
// Module Colors
//---------------------------
$header-copy-color: white;
$bg-header-color:   $dropbox-blue;
$main-copy-color:   $lighter-cool-grey;
$footer-copy:       $light-cool-grey;

$buy-cta-color:     #B0CEE7;