//---------------------------
// Carousel
//---------------------------

$pagination-item-color:           $dropbox-blue;
$pagination-item-color--active:   $lighter-cool-grey;
$carousel-width: 540px;

.carousel {
  margin: 0 auto;
  position: relative;
  width: $carousel-width;

  @media (max-width: $screen-sm) {
    overflow: hidden;
  }

  @media (max-width: 540px) {
    width: 100%;
  }
}

.carousel-image-wrapper {
  margin: 0 auto 18px;
  overflow: hidden;
  width: 540px;
  height: 300px;
}

.carousel-image-container {
  position: relative;
  width: 1620px; // for 3 images
  height: 300px;

  img {
    float: left;
    width: $carousel-width;
    height: auto;
  }
}

.arrow-container {
  position: absolute;
  top: 138px;
  width: $carousel-width;
  transform: translate(0, -50%);
  z-index: 2;

  @media (max-width: 768px) {
    margin: 0 auto;
    position: relative;
    top: 335px;
    width: 80%;
  }
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 30px;
  transition: opacity .25s ease;

  &:hover {
    opacity: .65;
  }
}

.arrow--prev {
  background: url(../images/arrow-left.png) no-repeat;
  left: -85px;

  @media (max-width: $screen-sm) {
    left: 0;
  }
}

.arrow--next{
  background: url(../images/arrow-right.png) no-repeat;
  right: -85px;

  @media (max-width: $screen-sm) {
    right: 0;
  }
}

.pagination-container {
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: $screen-sm) {
    margin-top: 40px;
  }
}

.carousel-copy {
  margin-bottom: 30px;
}

.no-js {
  .carousel-image-wrapper {
    overflow: visible;
    height: 100%;
  }

  .carousel-image-container {
    position: relative;
    width: auto;
    height: 100%;

    img {
      display: block;
      float: none;
      width: $carousel-width;
    }
  }
}

.pagination-item {
  background-color: $pagination-item-color;
  border-radius: 16px;
  display: inline-block;
  margin-right: 26px;
  width: 16px;
  height: 16px;
  transition: opacity .25s ease;

  &.active {
    background-color: $pagination-item-color--active;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .75;
  }
}