//---------------------------
// Carousel
//---------------------------

$pagination-item-color:           $dropbox-blue;
$pagination-item-color--active:   $lighter-cool-grey;
$carousel-width: 540px;

.carousel {
  width: $carousel-width;
  margin: 0 auto;
  position: relative;
}

.carousel-image-wrapper {
  margin: 0 auto 18px;
  
  height: 300px;
  overflow: hidden;
}

.carousel-image-container {
  width: 1620px;
  height: 300px;
  position: relative;

  @media (max-width: $screen-md) {
    width: 1000px;
  }

  img {
    float: left;
    width: $carousel-width;

    @media (max-width: $screen-md) {
      width: 200px;
      height: auto;
    }
  }
}

.arrow-container {
  position: absolute;
  top: 138px;
  transform: translate(0, -50%);
  z-index: 2;
  width: $carousel-width;
}

.pagination-container {
  margin-bottom: 50px;
  text-align: center;
}

.carousel-copy {
  margin-bottom: 30px;
}

.no-js {
  .carousel-image-wrapper {
    overflow: visible;
    height: 100%;
  }

  .carousel-image-container {
    width: auto;
    height: 100%;
    position: relative;

    img {
      float: none;
      display: block;
      width: $carousel-width;
    }
  }
}

.arrow {
  display: inline-block;
  width: 16px;
  height: 30px;
  position: absolute;
  transition: opacity .25s ease;

  &:hover {
    opacity: .65;
  }
}

.arrow--prev {
  background: url(../images/arrow-left.png) no-repeat;
  left: -85px;
}

.arrow--next{
  background: url(../images/arrow-right.png) no-repeat;
  right: -85px;
}

.pagination-item {
  background-color: $pagination-item-color;
  display: inline-block;
  margin-right: 26px;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  transition: opacity .25s ease;

  &.active {
    background-color: $pagination-item-color--active;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .75;
  }
}

