//---------------------------
// Footer
//---------------------------

.dbfb-footer {
  color: $light-cool-grey;
  font-size: 13px;
  margin: 0 auto;
  padding: 59px 0;

  @media (max-width: 930px) {
    width: 100%;
  }

  .container {
    @media (max-width: 930px) {
      font-size: 18px;
    }
  }

  .col-2 {
    @media (max-width: 930px) {
      width: 100%;
    }
  }
  
  ul {
    li {
      margin-bottom: 9px
    }
  }

  a {
    color: $light-cool-grey;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dbfb-footer-header {
  font-weight: 700;
}

.language-globe {
  background-image: url(../images/language_globe.png);
  margin-right: 6px;
  display: inline-block;
  position: relative;
  top: 5px;
  width: 17px;
  height: 17px;
}

.language-selector {
  float: right;
}

.language-arrow {
  background-image: url(../images/language_arrow.png);
  margin-left: 6px;
  display: inline-block;
  position: relative;
  top: -2px;
  width: 9px;
  height: 5px;
}