//---------------------------
// Hero
//---------------------------

.hero {
  background-color: $dropbox-blue;
  height: 500px;
  color: $header-copy-color;

  .row {
    margin: 0 15px;
  }
}

.header-wrapper {
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 2;
}

.header {
  position: absolute;
  top: 107px;
  left: 50%;
  transform: translate(-50%, 0);

  h1 {
    margin-bottom: 9px;
  }

  h2 {
    line-height: 1.7em;
    margin-bottom: 22px;
  }
}