//---------------------------
// Hero
//---------------------------

.hero-container {
  // background-color: $dropbox-blue;
}

.hero {
  background-color: $dropbox-blue;
  height: 500px;
  color: $header-copy-color;
}

.header-wrapper {
  position: relative;
  z-index: 2;
}

.header {

}