//---------------------------
// Section
//---------------------------

.header {
  text-align: center;

  h1 {
    font-size: 37px
  }

  h2 {
    font-size: 15px;
  }
}

.buy-cta {
  color: $buy-cta-color;
  display: block;
  text-align: center;

  a {
    border-bottom: 1px solid $buy-cta-color;
    color: white;
    padding-bottom: 2px;
    transition: opacity .25s ease;

    &:hover {
      opacity: .7;
    }
  }
}

.section-wrapper {
  margin: 0 auto;

  @media (max-width: $screen-md) {
    width: initial;
  }
}

.section {
  color: $main-copy-color;
  position: relative;

  h1 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 15px;
    text-align: center;
    line-height: 1.7em;
  }

  .container {
    margin-bottom: 36px;
    
    @media (max-width: $screen-md) {
      margin-bottom: 0;
    }
  }
}

.section--why-dbfb {
  border-bottom: 1px solid $border-bottom-color;
  padding: 72px 0 59px;

  h1 {
    margin-bottom: 31px;
  }
}

.section--what-can-dbfb-do {
  padding: 71px 0 60px;

  h1 {
    margin-bottom: 54px;
  }
}

.section--work-together {
  background: url(../images/video-still.jpg) center no-repeat;
  background-size: cover;
  height: 500px;
  padding: 58px 0;

  @media (max-width: $screen-xs) {
    background-position: 61% 0;
  }
}

.work-together-bg {
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1050px;
  height: 500px;
  z-index: 1;
}

.section--sync {
  border-bottom: 1px solid $footer-cta-color;
  padding: 63px 0 76px;
  width: 100%;

  h1 {
    margin-bottom: 30px;
  }

  .buy-cta {
    color: $footer-cta-color;
  }
}

.cta-container {
  margin: 0 auto;
  width: 254px;
}

.article-img {
  margin: 0 auto 11px;

  img {
    display: block;
    margin: 0 auto;
  }
}