//---------------------------
// Section
//---------------------------

.header {
  text-align: center;

  h1 {
    font-size: 37px
  }

  h2 {
    font-size: 15px;
  }
}

.buy-cta {
  color: $buy-cta-color;
  display: block;
  text-align: center;

  a {
    border-bottom: 1px solid $buy-cta-color;
    color: white;
    padding-bottom: 2px;
  }
}

.section {
  color: $main-copy-color;
  position: relative;

  h1 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 15px;
    text-align: center;
  }
}

.section--why-dbfb {
  border-bottom: 1px solid $lighter-cool-grey;
  padding: 57px 0 59px;
}

.section--what-can-dbfb-do {
  padding: 59px 0 60px;
}

.section--work-together {
  background: url(../images/video-still.jpg) center no-repeat;
  background-size: cover;
  height: 500px;
}

.section--sync {
  border-bottom: 1px solid $lighter-cool-grey;
  padding: 57px 0 59px;
  width: 100%;
}


// TODO: move to _business?
.cta-container {
  width: 254px;
  margin: 0 auto;
}

.article-img {
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
  }
}