//---------------------------
// Side Nav
//---------------------------

.sidenav {
  color: white;
  position: absolute;

  a {
    color: white;
    font-weight: 500;
    font-size: 15px;

    &.active {
      font-weight: bold;
    }
  }
}