//---------------------------
// Video Player
//---------------------------

.play-video {
  background: url(../images/player_large.png) no-repeat;
  display: inline-block;
  width: 106px;
  height: 106px;
}