//---------------------------
// Grid
//---------------------------
// - 12 columns
// - width: 990px
// - column width: 55px
// - gutter width: 30px
//---------------------------

$grid-width: 990px;
$column-width: 55px;
$gutter-width: 15px;

$max-width: $grid-width;

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $grid-width + 30; // +30 for gutter
  width: 100%;
}

.row {
  @include clearfix();
}

.grid {
  width: $grid-width;
  max-width: $grid-width;
}

.cols {
  margin: 0 auto;
  width: 100%;

  &:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float:left;
    min-height: 1px;
    width: (($column-width + $gutter-width) / $grid-width) * 100%;

    @media (max-width: $screen-sm) {
      float: none !important;
      width: 100% !important;
    }
}

*[class^='col-'] {
  padding: 15px;

  @media (max-width: $screen-sm) {
    float: none;
    margin: 0;
    width: 100%;
  }
}

footer  *[class^='col-'] {
  margin-left: 0;
}

.col-1 {
  width: $column-width;
}

.col-2 {
  width: (($column-width * 2 + $gutter-width * 4)  / 1020px) * 100%;
}

.col-3 {
  width: (($column-width * 3 + $gutter-width * 2) / 1020px) * 100%;
}

.col-4 {
  width: (($column-width * 4 + $gutter-width * 8)  / 1020px) * 100%;
}

.col-12 {
  width: (($column-width * 12 + $gutter-width * 11) / $grid-width) * 100%;
}